<header class="bg-gray-800">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between border-b border-indigo-500 lg:border-none">
      <div class="flex items-center">
        <a routerLink="/home" href="#">
          <span class="sr-only">App</span>
        </a>
        <div class="hidden ml-10 space-x-8 lg:block">
          <a routerLink="/home" class="text-base font-medium text-white hover:text-indigo-50"> GOOGLE SHEET 2 JSON </a>
        </div>
      </div>
    </div>
  </nav>
</header>
